@import url('https://fonts.googleapis.com/css?family=Roboto|Teko&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body {
    background: black;
}

.container {
    width: 800px;
    color: aliceblue;
    background: rgb(116, 140,171);
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.footer_Line {
    background: rgb(156,237,241);
    height: 25px;
    width: 30%;
}
.block_Randzevous  {
    display: flex;
    background-color:#83A0C6;
    
}
.randzevous {
    flex-grow: 2;   
    border: 2px rgb(92, 120,155) solid; 
    padding: 10px 15px;
}
.approach {
    flex-grow: 1;
    border: 2px rgb(92, 120,155) solid;
    padding: 10px 15px;
    
}
.table {
    font-size: 13px;
    position: relative;
}
.tr {
    display: flex;
    flex-direction: row; 
}
.td {
    flex-basis: 10%;
    padding: 10px 12px;
    border-right: 2px rgb(92, 120,155) solid;
    border-bottom: 2px rgb(92, 120,155) solid;
    z-index: 2;
}
.tr_Line {
    position: absolute;
    background: rgb(156,237,241);
    width: 2px;
    height: 100%;
    top: 0px;
    left: 37%;
    z-index: 4;
}
.td_Block1{
    position: absolute;
    width: 30px;
    height: 34px;
    left: 80px;
    background: #97B6DB;
}
.td_Block2{
    position: absolute;
    width: 60px;
    height: 34px;
    left: 200px;
    background: #97B6DB;
    z-index: 1;
}
.td_Block3{
    position: absolute;
    width: 30px;
    height: 34px;
    left: 280px;
    background: #A2EDF2;
}
.tr_Time{
    display: flex;
    justify-content: center;
    background: transparent;
}
.tr_Time_td {
    margin-left: 25px;
    margin-right: 30px;
    border: none;
    font-size: 10px;
}
.list_Item{
    height: 150px;
    display: flex;
    padding: 10px 20px;
}
.listItem_Text small{
    color:#BACDDA;

}
.listItem_Time{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.listItem_Text {
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.listItem_TextRow {
    display: flex;
    justify-content: space-between;
    border-block-end: 2px #526C88 solid;
}
.listItem_Img {
    height: 140px;
    display: flex;
    padding: 1px 40px;
}
.Schedule_Item{
    display: flex;
    height: 60px;
    align-items: center;
    border: 3px rgb(92, 120,155) solid;
    padding: 0px 30px;
    justify-content:space-between;
}
.blockSchedule {
    display: flex;
    flex-grow: 100;
}
.block_AllEvent {
    flex-grow: 1;
}
.block_Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blockSection_DataLeft {
    width:50%;
    flex-grow: 1;
    
}
.blockSection_DataLeftUp {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    border: 2px rgb(92, 120,155) solid;
    flex-grow: 1;
}
.blockSection_DataLeftDown {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    border: 2px rgb(92, 120,155) solid;
    flex-grow: 1;
}
.blockSection_DataRight {
    width:50%;
    flex-grow: 1;
    border: 3px rgb(92, 120,155) solid;
    
}
.blockSection_DataRightUp {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px rgb(92, 120,155) solid;
    flex-grow: 1;
}
.blockSection_DataRightDown {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
    flex-grow: 1;
}
.size {
    font-size: 2em;
}
.color_Text {
    color: lightgray;
}
.color_Blue {
    color: aqua;
}
.alarms_Item {
    display: flex;
    height: 90px;
    align-items: center;
    border: 3px rgb(92, 120,155) solid;
    justify-content:space-between;
}
.blockAlarms_Item {
    display: flex;
    flex-grow: 100;
    color: #C8EEF1;
    font-size: 1.5em;
    padding: 20px;
}
.blockAlarmsItem_AllSys {
    flex-grow: 1;
    color: #C8EEF1;
    font-size: 1.5em;
    padding: 20px;
}
.block_Date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.bigSize {
    font-size: 3em;
}
.blockDateItem_NextBurn {
     align-items: center;
    flex-grow: 1;
    padding: 20px;
    border: 3px rgb(92, 120,155) solid;
}
.date_Item {
    flex-grow: 2;
    padding: 20px;
}
.blockDateItem_Target {
    flex-grow: 1;
    padding: 20px;
    border: 3px rgb(92, 120,155) solid;
}
.header {
    display: flex;
    
    align-items: center;
    
}
.small_Size {
    font-size: 1.5em;
}
.header_Item {
    align-items: center;
    border: 3px rgb(92, 120,155) solid;
    flex-grow: 1
}
.allSystems p{
    font-size: 1.5em;
    background-color: #83A0C6;
    padding: 10px;
}
.pressure_Flex{
	display: flex;
}
.pressure_Flex div{
    flex-grow: 1;
    border:2px #6F8CAE solid;
    background-color: rgba(121,146,182,0.8);
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}
.pressure_Flex span{
	color: aqua;
}
.blockLife {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.footer_List  {
    display: flex;
    justify-content: space-between;
    color:aqua;
    align-items: center;
}

.background_Color {
    color: #DFECEF;
    border: 2px rgb(92, 120,155) solid;
    flex-grow: 1; 
    align-items: center;
    padding: 15px;
}
.Item_Border {
    border: 2px rgb(92, 120,155) solid;
    flex-grow: 1; 
    padding: 15px;
}
.border {
    flex-grow: 1;
    padding: 15px;
}