*{
    margin: 0;
    padding: 0;   
}

header {
    background-color: #FFDC00;
    padding: 20px 15px;
}
.container{
    margin: auto;
    width: 80%;
}
.container h2{
    padding-top: 33px;
}



.color_Grey{
    color: lightgray;
}
.logo{
    display: flex;
    justify-content: space-between;  
}
header span{
    font-size: 2em;
}
.tel_Number small{
    text-align: right;
}
.tel_Number button{
    background-color:black;
    padding:10px 30px;  
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
}
header small{
    display: block;
    text-align: center;
    font-size: 1em;
}
.header_Order {
    background: url(backgroundImage.png);opacity: 3;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 100px;
}
#color_Header{
    color:#FFDC00;
}
#color_White{
    color:white;
    font-size: 2em;
}
.Order_Mobile_ImgOne{
    display: none;
}
.Order_Mobile_ImgTwo{
    display: none;
}
button{
    background-color:#FFDC00;
    padding:10px 50px;  
    margin-top: 15px;
    border-radius: 7px;
    border-bottom: 5px #5F5F5F solid;
    color: black;
    font-weight: bolder;
    font-size: 1.2em
}


.order {
    display: flex;
    justify-content: space-around;

}
.titleColor_Yellow{
    color: #FFDC00;
    font-size: 2em;
}
#size_Text{
    font-size: 20px;
}
.sizeText_Title{
    font-size: 1em;
    line-height: 60px;
}
.clock{
    display: flex;
    margin: 20px ;
}
.clock_Item {
    background: #333333;
    color: #fff;
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 100;
    font-size: 40px;
}
.dot_Item {
    padding: 10px;
    color:  #333333;
    font-weight:bolder;
    font-size: 40px;
}
.Order_ImgTwo {
    text-align: right;
}
.yellow_Line{
    width: 30%;
    margin: 20px auto;
    background: #FFDC00;
    height: 2px;
}
.little_YellowLine{
    display: flex;
    width: 5%;
    margin: 10px;
    background: #FFDC00;
    height: 2px;

}
#color_Yellow{
    color:#FFDC00;
}
h2{
    text-align: center;
    padding: 50;
}
.block_Characteristics{
    display: flex;
    justify-content: space-between;
}
.block_Characteristics span{
    color: grey;
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    padding: 15px;
}
.block_Characteristics h4{
    padding: 15px;
}
.align_Image{
    display: flex;
    align-items: center;
    
}



.reason_TO_buy{
    display: flex;
    align-items: baseline;
    padding-top: 30px;
}
.reason_Block{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reason_Block div{
    text-align: center;
}
.reason_Block h4{
    padding: 15px;
}
.save {
    display: flex;
    justify-content: space-around;
}
.How_TO_Work h2{
    padding-top: 50px;
}
.video {
    display: flex;
    justify-content: center;
}
.bumper_Repair{
    margin-right: 40px;
}
.bumper_Repair span{
    font-size: 0.8em;
    
}
.bumper_Repair p{
    text-align: center;
    padding: 0 0 20px 0;
}

.price_With_Gift span{
    font-size: 0.8em;
}

.price_With_Gift p{
    text-align: center;
    padding: 0 0 20px 0;
}
.broken_Bumper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews div{
    margin: 15px;
}


.position_Photo {
   
    display: flex;
    justify-content: flex-end;
    align-items:center;
    border-radius: 50%;
}
.position_Photo img{
    border-radius: 50%;
}

.delivery_AND_Warranty li{
    padding: 4px;
}
.delivery_AND_Warranty ul{
    padding: 30px;
}
.warranty{
    display: flex;
    align-items: baseline;
    text-align: center;
    padding-top: 40px;
    justify-content: space-between;
}
.delivery{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.plus_Position{
    display: flex;
    justify-content: flex-end;
}
.price_Position{
    display: flex;
    justify-content: space-between;
}
.inverted_Image{
    transform: rotateX(180deg);
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}
.form_Weight{
    
    width: 45%;
    
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    background-color: white;
    display: block;
    margin: 10px 0;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    padding-left: 10px;
}

 .button_Position{
     display: flex;
     justify-content: space-around;
 }
 footer div{
     display: flex;
     justify-content: center;
     align-items: center;
    font-size: 2em;
    color:white;
    height: 100px;
    background: #333333;
    
 }

@media (max-width:768px){
  body {
      width: 120%;
  }
  .header_Order{
    padding-bottom: 30px;
    padding-top: 30px;
  }
    .order_Image{
        display: none;
    }
    .Order_Mobile_ImgOne {
        display: block;
    }
    .Order_Mobile_ImgTwo {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .Order_Mobile_ImgTwo img{
        width: 20%;
        position: absolute;
        display: block;
        bottom: 20%;
    }
    .little_YellowLine{
      display: none;
  }
  .position_Photo{
      display: none;
  }
   
   .order{
       flex-direction: column;
       font-size: 1em;
   }
    .tel_Number{
        display: none;
    }
    .title{
        font-size: 1em;
    }
    .container{
        width: 85%;
        
    }
    .order p{
       
    font-weight: bold;
   
    text-align: center;
    }
  .order button {
      display: flex;
      align-items: center;
  }
    .block_Characteristics div{
        width: 150%;
    text-align: center;
    
    }
    
    h2{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.4em;
    }
    
    .block_Characteristics{
     
        display: flex;
       
        flex-wrap: wrap;
        
    }
    
    .video video{
        width: 100%;
        
    }
    .reason_TO_buy {
        flex-direction: column;
    align-items: center;
    }
    .reason_Block{
        padding-top: 15px;
        width: 100%;
    }
    .save{
        display: flex;
        flex-direction: column;  

    }
    .bumper_Repair img {
        width: 100%;
    }
   .save_Plus{
       width: 40px;
   }
   .price_With_Gift img{
       width: 100%;
   }
    .reviews{
        margin: 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center; 
    }
    .warranty{
        margin: 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center; 
    }
    .delivery{
        margin: 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center; 
    }
    .form{
        margin: 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center; 
    }
    .form_Weight{
        width: 100%;
     }
}

 
     
     